@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Schneider Invoicing System</title>

    <!-- Bootstrap -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>*@

    <!-- Angular Material Library -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- ngTable -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css" />*@

    <!-- Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">*@

    <!-- Scripts -->
    <script src="~/Scripts/Approval/app.js"></script>
    <script src="~/Scripts/Shared/Services/InvoiceSystemResources.js"></script>
    <script src="~/Scripts/Shared/Services/InvoiceSystemValues.js"></script>
    <script src="~/Scripts/Approval/Services/InvoiceSystemExpenses.js"></script>
    <script src="~/Scripts/Approval/Services/InvoiceSystemAccounts.js"></script>
    <script src="~/Scripts/Approval/Services/ViewExpense.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/expensesTable.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/accountTabs.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/selfExpense.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/perdiemExpense.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/overTimeExpense.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/expenseInformation.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/disableEditing.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/expenseItemsViewer.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/rejectExpenseItemButton.js"></script>
    <script src="~/Scripts/Approval/CustomDirectives/attachmentsViewer.js"></script>
    <script src="~/Scripts/Approval/accountController.js"></script>

    <!-- Style -->
    <link href="~/Content/Approval/approval.css" rel="stylesheet" />

</head>
@*<body style="background-color: white">*@
    <body ng-app="myApp" ng-cloak layout="column">
        <div ng-controller="accountController" ng-init='initEmployeeType("@ViewData["employeeType"]")'>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools md-padding" layout="row" layout-align="space-between center">
                    <h3>Schneider Electric</h3>
                    <div>
                        <a href="/Test/Login">
                            <h1>{{accountDisplayName}}</h1>
                        </a>
                    </div>
                </div>
            </md-toolbar>

        </div>
        <div ng-cloak layout="column" >
            <account-tabs></account-tabs>
        </div>
    </body>
@*</body>*@
</html>
